@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo</h1>
    <p>Produzido por <a href="https://www.linkedin.com/in/luciano-xavier-de-pinho-72784664/"> Luciano Xavier de Pinho</a>.</p>
</div>
